
<style>
    #profile .picture {
        box-shadow: 0 0 2px black;
    }

    #profile .options {        
        text-align: center;
        white-space: nowrap;
        font-size: 15px;
    }
    #profile .options i {
        margin-right: 5px;
    }     
</style>

<template>
    <div id='profile'>

        <div class='picture' v-if='profile.profile_picture' v-bind:style="'background-image:url(' + profile.profile_picture + ')'"></div>

        <br>
        <p style='font-weight: bold; color: blue'>{{profile.full_name}}</p>

        <hr>

        <span style='color:grey'>Bio:</span>
        <p v-if='profile.bio'>{{profile.bio}}</p>
        <p v-if='profile.website'><a v-bind:href='profile.website'>{{profile.website}}</a></p>

        <hr>

        <div class='row options' style="color: blue">
            <div class='col-4'>
                <i class="fa fa-instagram"></i>
                Visitar
            </div>
            <div class='col-4'>
                <i class="fa fa-thumbs-o-up"></i>
                Recomendar
            </div>
            <div class='col-4'>
                <i class="fa fa-ticket"></i>
                Votar
            </div>
        </div>

    </div>
</template>

<script>

    define(function (VueSelect) {
        //COMO CLASE
        return function () {
            return {

                template: template,
                data: {
                    profile: {},
                    recents: {},
                    liked: {}
                    ,
                    follows: {},
                    followedBy: {},
                    requestedBy: {}
                },
                mounted: function () {
                    var self = this;

                    var token = get_access_token();
                    if (!token) {
                        return;
                    }

                    var api = "https://api.instagram.com/v1/";

//                    //USERS
//                    var userId = this.id;
//                    if (!userId) {
//                        userId = "self";
//                    }
//
//                    //profile
//                    $.get(api + "users/" + userId + "/?access_token=" + token, function (res) {
//                        self.profile = res.data;
//                    });
//
//                    //last posted images
//                    $.get(api + "users/" + userId + "/media/recent/?access_token=" + token, function (res) {
//                        self.recents = res.data;
//                    });
//
//
//
//                    if ("self" == userId) {
//                        $.get(api + "users/self/media/liked?access_token=" + token, function (res) {
//                            self.liked = res.data;
//                        });
//
//                        //RELATIONSHIPS
//                        //follows
//                        $.get(api + "users/self/follows?access_token=" + token, function (res) {
//                            self.follows = res.data;
//                        });
//                        //followed by
//                        $.get(api + "users/self/followed-by?access_token=" + token, function (res) {
//                            self.followedBy = res.data;
//                        });
//                        //requested by
//                        $.get(api + "users/self/requested-by?access_token=" + token, function (res) {
//                            self.requestedBy = res.data;
//                        });
//
//                    } else {
//                        $.get(api + "users/" + userId + "/relationship?access_token=" + token, function (res) {
//                            self.requestedBy = res.data;
//                        });
//                    }

                    if (!this.user) {
                        $.get(api + "users/self/?access_token=" + token, function (res) {
                            self.profile = res.data;
                        });
                    } else {
                        //self.profile = this.user;
                        $.get(api + "users/search/?q=" + this.user.username + "&access_token=" + token, function (res) {
                            self.profile = res.data[0];
                        });
                    }
                }

            }
        }
    });

</script>
