
<style>    

    #messages input, #messages textarea{
        width: 100%;
        border: none;        
        outline: none;
        line-height: 30px;
        padding: 10px;
        border-top: 1px solid darkgrey;
    }
    #messages input {

    }
    #messages textarea {        
        padding-bottom: 100%;
    }

    #header #messagesHeader {
        display: none;
    }
    .page_messages #header #messagesHeader {
        display: block;
        width: 100%;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
    }
    .page_messages #header #messagesHeader button {
        display: none;
        float: right;
    }
    .page_messages #header #messagesHeader input {
        background: transparent;
        border: none;
        outline: none;
    }

    .page_messages #header {        
        background-color: white !important;
        box-shadow: inset 0 -1px 1px -1px grey;
    }
    .page_messages #header > * {
        color:grey !important;
    }

    .page_messages #header .navbar-brand, .page_messages #header .navbar-toggler{
        display: none;
    }

    .message{
        position: relative;
        box-shadow: 0 -1px grey;        
    }
    .first{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .message i{
        position: absolute;
        top: 10px;
        right: 10px;
    }

</style>

<template>
    <div id='messages' class="container">

        <!--        <h4>Messages:</h4>
        
                follows:
                <div class='inline'>{{follows}}</div>
                <div v-for='user in follows'>
                    {{user}}
                    <br>
                </div>
        
                <br><br>
        
                followedBy: 
                <div class='inline'>{{followedBy}}</div>
                <div v-for='user in followedBy'>
                    <div class='picture' v-bind:style="'background-image:url(' + user.profile_picture + ')'" 
                         style='display: inline-block; width: 30px; height: 30px;'></div>
                    {{user.full_name}}
                    <br>
                </div>-->

        <div class='messages' style="display: none">
            <br>

            <!--            Recibidos: 
                        <div v-for="message in received" class="message" v-on:click="showMessage">
                            <div class="first">
                                de: {{message.from}}
                            </div>
                            <small>
                                <div>{{message.subject}}</div>
                                <div style="color: grey">{{message.message}}</div>
                            </small>
                        </div>
            
                        <hr>
                        Enviados:
                        <div v-for="message in sent" class="message" v-on:click="showMessage">
                            <div class="first">
                                para: {{message.to}}
                            </div>
                            <small>
                                <div>{{message.subject}}</div>
                                <div style="color: grey">{{message.message}}</div>
                            </small>
            
                        </div>-->

            <div v-for="message in messages" class="message" v-on:click="showMessage(message)">
                <div class="first">
                    para: {{message.to}}
                </div>
                <small>
                    <div>{{message.subject}}</div>
                    <div style="color: grey">{{message.message}}</div>
                </small>

                <i v-if="userId == message.from" class="fa fa-arrow-right"></i>
                <i v-else class="fa fa-arrow-left"></i>
            </div>

        </div>

        <div class='new' style="display: none">
            <!--<input class="to" placeholder="Destinatario" style="border-top: none">-->
            <v-select class="to" style="margin: 7px;" label="username" v-model="to" v-bind:options="usersFind" placeholder="Destinatario" v-bind:on-search="findUsers"></v-select>
            <input class="subject" placeholder="Asunto">
            <textarea class="textMessage" placeholder="Mensaje"></textarea>
        </div>

    </div>
</template>

<script>

    var api = "https://api.instagram.com/v1/";
    var token = get_access_token();

    define([
        'lib/vue-select.js'
    ], function (VueSelect) {
        return {
            template: template,
            components: {
                'v-select': VueSelect.VueSelect
            },
            data: {
                userId: token.split(".").shift(),
                messages: [],
                follows: {},
                followedBy: {},
                to: "",
                usersFind: [],
//                sent: [],
//                received: []
            },
            mounted: function () {
                var self = this;
                if (!token) {
                    return;
                }

//            //RELATIONSHIPS
//            //follows
//            $.get(api + "users/self/follows?access_token=" + token, function (res) {
//                self.follows = res.data;
//            });
//            //followed by
//            $.get(api + "users/self/followed-by?access_token=" + token, function (res) {
//                self.followedBy = res.data;
//            });

                $.post(window.server + "message@get", {
                    access_token: token
                }, function (messages) {
//                    self.sent = [];
//                    self.received = [];
//
//                    var user_id = token.split(".").shift();
//                    for (var i = 0; i < messages.length; i++) {
//                        if (user_id == messages[i].from) {
//                            self.sent.push(messages[i]);
//                        } else if (user_id == messages[i].to) {
//                            self.received.push(messages[i]);
//                        }
//                    }

                    self.messages = messages;
                });

                this.findInput();
                this.showMessages();
            },
            methods: {
                showMessage: function (message) {
                    require(["vue!components/modal.html"], function (modalClass) {
                        var modal = new modalClass();

                        var div = $("<div>").appendTo("body")[0];
                        var vm = new Vue(modal).$mount(div);

                        vm.data = message;
                        vm.page = "components/message.html";
                    });
                },
                findInput: function () {
                    var self = this;
                    $("#messagesHeader").remove();
                    var find = $("<div id='messagesHeader'>").prependTo("#header nav");
                    var input = $("<input placeholder='Find messages'>").appendTo(find);
                    input.focus();

                    $("<button class='new'>").text("nuevo").appendTo(find).click(function () {
                        self.newMessage();
                    });

                    $("<button class='send'>").text("enviar").appendTo(find).click(function () {

                        var to = self.to;
                        var subject = $("#messages .subject").val();
                        var message = $("#messages .textMessage").val();
                        if (!to || !subject || !message) {
                            return;
                        }

                        $.post(window.server + "message@send", {
                            access_token: token,
                            to: to.id,
                            subject: subject,
                            message: message
                        }, function (res) {
                            if (!res) {
                                location.reload();
                            }
                        });

                        self.showMessages();
                    });
                },
                findUsers: function (username) {
                    var self = this;

                    if (username.length < 3) {
                        self.usersFind = [];
                        return;
                    }

                    //MOSTRAR LOADING
                    $(".dropdown-menu").hide();
                    $(".dropdown-toggle .fa").remove();
                    $("<div>").html('<i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>').css({
                        'text-align': "center"
                    }).appendTo(".dropdown-toggle");

                    clearTimeout(this.select_timeout);
                    this.select_timeout = setTimeout(function () {

                        $.get(api + "users/search/?q=" + username + "&access_token=" + token, function (res) {
                            self.usersFind = res.data;

                            //ELIMINAR LOADING
                            $(".dropdown-toggle .fa").remove();
                            $(".dropdown-menu").show();
                        });

                    }, 1100);
                },
                showMessages: function () {
                    $("#messagesHeader .new").show();
                    $("#messagesHeader .send").hide();
                    $("#messages .messages").show();
                    $("#messages .new").hide();
                },
                newMessage: function () {
                    $("#messagesHeader .new").hide();
                    $("#messagesHeader .send").show();
                    $("#messages .messages").hide();
                    $("#messages .new").show();
                }
            }
        }
    });

</script>
