
<style>
    #statistics .block {
        display: inline-block;
        margin: 0 10px;
    }
</style>

<template>
    <div id='statistics'>

        <h4>Statistics:</h4>
        <div class='inline'>{{profile}}</div>
        <br>

        <div v-if='profile.counts'>
            follows: <b v>{{profile.counts.follows}}</b>        
            <br>

            followed_by: <b>{{profile.counts.followed_by}}</b>
            <br>

            media: <b>{{profile.counts.media}}</b>
            <br>
        </div>

        liked: <span class='inline'>{{liked}}</span>
        <br>

        <br>

        <div class='inline'>{{recents}}</div>
        <div class='block' v-for='recent in recents'>
            <div class='picture' v-bind:style="'background-image:url(' + recent.images.thumbnail.url + ')'"></div>
            likes: <b>{{recent.likes.count}}</b><br>
            comments: <b>{{recent.comments.count}}</b><br>
            <span v-if='recent.users_in_photo.length'>
                users_in_photo: 
                <span v-for='user in recent.users_in_photo'><b>{{user.user.full_name}}</b></span>
                <br>
            </span>
        </div>

    </div>
</template>

<script>

    define({
        template: template,
        data: {
            profile: {},
            recents: {},
            liked: {}
        },
        mounted: function () {
            var self = this;

            var access_token = localStorage.getItem("access_token");
            if (!access_token) {
                login();
                return;
            }

            var api = "https://api.instagram.com/v1/";

            //USERS
            //profile
            $.get(api + "users/self/?access_token=" + access_token, function (res) {
                self.profile = res.data;
            }).fail(function () {
                login();
            });

            //LAST POSTED IMAGES
            $.get("https://api.instagram.com/v1/users/self/media/recent/?access_token=" + access_token, function (res) {
                self.recents = res.data;
            });

            $.get("https://api.instagram.com/v1/users/self/media/liked?access_token=" + access_token, function (res) {
                self.liked = res.data;
            });
        }
    });

</script>
